body{
    background-image: url("23178.png");
    }
    .Diseño{
      margin-left: 8%;  
      margin-right: 8%;
    }
.Diseño img{
    border-radius: 50%;
    width: 15%;
    float: right;
    margin-right: 20%;
    border-top-left-radius: 70% 70%;
    border-top-right-radius: 70% 70%;
    border-bottom-right-radius: 70% 70%;
    border-bottom-left-radius: 70% 70%;
    
}
.Diseño img2{
    border-radius: 50%;
    opacity: 0.4;
}
